# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-HTTPAuth
psycopg2
requests
beautifulsoup4

# ----------------------
# Production Server
# ----------------------
gunicorn
