{% extends "base.html" %}

{% block main %}
 {% include "background.html" %}

  
  <h1 class="page-header"></h1>
<p class="lead"></p>

  <div align="center" style="margin:auto" >
    <img width="500" height="150" src ="/static/imgs/wishlist.png"/>
 </div>
 
<div align="center" style="margin:auto"> <!--I HATE CLOUD 9 NTN WORKS I CAN'T WORK LIKE THIS-->


<form method="POST" enctype="multipart/form-data">
       {{ form.csrf_token }}
     <div class="form-group">
        {{ form. item_url.label }}
        {{ form. item_url(class='form-control', placeholder="http://example/website/link",style="width:300px") }}
      </div>
           <div class="form-group">
        {{ form. title.label }}
        {{ form. title(class='form-control',style="width:300px") }}
      </div>
    <div class="form-group">
        {{ form. description.label }}
        {{ form. description(class='form-control',style="width:300px") }}
      </div>
    <button type="submit" name="add" class="btn btn-warning"style="width:60px">Go</button>
     </form>

</div>
<div>
{% raw %}


{% endraw %}
</div>

{% endblock %}
