{% extends "base.html" %}

{% block main %}
 {% include "background.html" %}
 {% raw %}
<h1 class="page-header"></h1>

<div align="center" style="margin:auto" >
    <img width="500" height="150" src ="/static/imgs/wishlist.png"/>
 </div>
<div>
    <form  method="post">
    
    
    <button type="submit" name="add" class="btn btn-warning"style="width:130px">Add  to  Wishlist</button> <!--I HATE CLOUD 9 NTN WORKS I CAN'T WORK LIKE THIS-->

</form>
<br>    <button  name="share" class="btn btn-default"style="width:130px">Share Wishlist</button>
</div>


{% endraw %}
{% endblock %}
